In [1]:
import re
import pandas as pd

In [2]:
#f1 = open(r"./data/tournamentinfo.txt")
f1 = open(r"./data/tournamentinfo.txt")
lines = f1.readlines()      #read all line of txt
lst = []
j = 0
for line in lines:
    # print(line)
    mod3 = j % 3
    
    if j > 2:
        inners = []
        if mod3 == 1:
            # first line of same player 
            lst.append(line)
        elif mod3 == 2:
            lst.append(line)
    
    j = j + 1

# print(lst)

In [3]:
size = len(lst)
size

128

In [4]:
step = 2
 
player_2_lines = [lst[i:i+step] for i in range(0, len(lst), step)]

player_2_lines[0]

['    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\n',
 '   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\n']

# task 1
- get paly number, play name, total point, then put into dataframe of pandas, then export to a csv file.

In [5]:
all_play = []
for player in player_2_lines:
    line_1 = player[0]
    line_2 = player[1]
    
    player_dic = {}
    line_1_list = re.split('\|', line_1)
    
    player_num = line_1_list[0].strip()
    player_dic[player_num] = ['']
    
    p = [line_1_list[0].strip(), line_1_list[1].strip(), line_1_list[2].strip()]
    all_play.append(p)

#print(all_play)

In [6]:
# put into a pandas
df = pd.DataFrame(all_play, columns=['player_num', 'player_name', 'total_points'])
df

   player_num           player_name total_points
0           1              GARY HUA          6.0
1           2       DAKSHESH DARURI          6.0
2           3          ADITYA BAJAJ          6.0
3           4   PATRICK H SCHILLING          5.5
4           5            HANSHI ZUO          5.5
..        ...                   ...          ...
59         60            JULIA SHEN          1.5
60         61         JEZZEL FARKAS          1.5
61         62         ASHWIN BALAJI          1.0
62         63  THOMAS JOSEPH HOSMER          1.0
63         64                BEN LI          1.0

[64 rows x 3 columns]

In [7]:
# write into csv
df.to_csv('./data/chess_first_3_columns.csv', index=False)

# task 1 ---- end

# task 2
- process the information from the second line for each player: state and pre-tournament rating.

In [8]:
player_2_lines[0]

['    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\n',
 '   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\n']

In [9]:
# pattern_middle_name = r'\s([\d]+)\s\/\s(R:)\s([\d\w]+)\s+\-\>([\d]+)'
pattern_pre_rating = r'([\d]+)\s*\/\s*(R:)\s*([\d\w]+)\s*\-\>\s*([\d\w]+)'
regex_pre_rating = re.compile(pattern_pre_rating)
# regex_pre_rating.findall('15445895 / R: 1794   ->1817')
#regex_pre_rating.findall('15490981 / R:  377P3   ->1076P10')
regex_pre_rating.findall('15771592 / R:  955P11-> 979P18')

[('15771592', 'R:', '955P11', '979P18')]

In [10]:
#pattern_pre_p_level = r'([\d]+)([P\d]+)'
pattern_pre_p_level = r'([\d]+)'
regex_pre_p_level = re.compile(pattern_pre_p_level)
# regex_pre_p_level.findall('1076P10')


# regex_pre_p_level.findall('1076P10')
# regex_pre_p_level.findall('1076')
regex_pre_p_level.findall('955P11')

['955', '11']

In [11]:
# 15445895 / R: 1794   ->1817
def split_pre_tournament_rating(regex_pre_rating, regex_pre_p_level, rating_ori):
    
    result_rating = 0
    result_p_level = ''
    rating_lst = regex_pre_rating.findall(rating_ori)
    # print(rating_lst)
    
    if len(rating_lst) > 0: # [('15490981', 'R:', '377P3', '1076P10')]
        rating_tupe = rating_lst[0]
        pre_str = rating_tupe[2]
        pre_and_p_level = regex_pre_p_level.findall(pre_str)
        #print(pre_and_p_level)
        
        if len(pre_and_p_level) > 1: # ['955', '11']
            result_rating = pre_and_p_level[0]
            result_p_level = pre_and_p_level[1]
        elif len(pre_and_p_level) == 1: # ['1794']
            result_rating = pre_and_p_level[0]
                
    return result_rating, result_p_level

#r, p = split_pre_tournament_rating(regex_pre_rating, regex_pre_p_level, '15490981 / R:  377P3 ->1076P10')
#r, p = split_pre_tournament_rating(regex_pre_rating, regex_pre_p_level, '15445895 / R: 1794   ->1817')
#print(r)
#print(p)

In [12]:
all_play_2 = []
for player in player_2_lines:
    line_1 = player[0]
    line_2 = player[1]
    

    line_1_list = re.split('\|', line_1)
       
    player_num = line_1_list[0].strip()
    
    player_name = line_1_list[1].strip()
    
    player_total_points = line_1_list[2].strip()
    
    line_2_list = re.split('\|', line_2)
    player_state = line_2_list[0].strip()
    
    pre_tournament_rating_ori = line_2_list[1].strip()
    
    pre_point, pre_p_level = split_pre_tournament_rating(regex_pre_rating, regex_pre_p_level, pre_tournament_rating_ori)
    
    pp = [player_num, player_name, player_total_points, player_state, pre_point]
    all_play_2.append(pp)

# print(all_play_2)

In [13]:
# put into a pandas
df2 = pd.DataFrame(all_play_2, columns=['player_num', 'player_name', 'total_points', 'player_state', 'pre_point'])
df2

   player_num           player_name total_points player_state pre_point
0           1              GARY HUA          6.0           ON      1794
1           2       DAKSHESH DARURI          6.0           MI      1553
2           3          ADITYA BAJAJ          6.0           MI      1384
3           4   PATRICK H SCHILLING          5.5           MI      1716
4           5            HANSHI ZUO          5.5           MI      1655
..        ...                   ...          ...          ...       ...
59         60            JULIA SHEN          1.5           MI       967
60         61         JEZZEL FARKAS          1.5           ON       955
61         62         ASHWIN BALAJI          1.0           MI      1530
62         63  THOMAS JOSEPH HOSMER          1.0           MI      1175
63         64                BEN LI          1.0           MI      1163

[64 rows x 5 columns]

In [14]:
# write into csv
df2.to_csv('./data/chess_first_5_columns.csv', index=False)

# task 2 ---- end