In [53]:
import requests
import pandas as pd
import json
import psycopg2
import time

# Get house data of Realtor by RapidAPI

## Step 1)
Invoke list API to get house list and store into the Postgresql

## Step 2
Invoke price history API to get history data, then to store into the Postgresql.

## Step 3

Save as CSV file and upload to Github

# Some basic database operation function

In [44]:
# connect postgresql
def get_postgresql_connect():
    conn = psycopg2.connect(host="127.0.0.1",user="postgres",password="123456",database="aim_new_final")
    return conn

def query_houses():
    
    conn= get_postgresql_connect()
    cur = conn.cursor()
    sql = " select * from t_houses "
    cur.execute(sql)
    
    rows = cur.fetchall()
        
    conn.close()
    
    return rows

def insert_houses(house_list):
    conn= get_postgresql_connect()
    cur = conn.cursor()
    
    sql = """
        INSERT INTO public.t_houses(property_id, prop_type, beds, baths_full, full_json, county, state)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        """
    
    for h in house_list:
        
        asjson = json.dumps(h)
        
        if 'property_id' in h and 'prop_type' in h:
            
            beds = 0
            if 'beds' in h:
                beds = h['beds']
                
            baths_full = 0
            if 'baths_full' in h:
                baths_full = h['baths_full']
            
            county = ''
            state = ''
            
            if 'address' in h:
                address = h['address']
                
                if 'county' in address:
                    county = address['county']
                if 'state' in address:
                    state = address['state']
                
            values = (h['property_id'], h['prop_type'], beds, baths_full, asjson, county, state)
        

        cur.execute(sql, values)
        
    conn.commit()
    print("Records created successfully")
    conn.close()

    
def query_history_prices():
    
    conn= get_postgresql_connect()
    cur = conn.cursor()
    sql = " select * from t_house_history_prices "
    cur.execute(sql)
    
    rows = cur.fetchall()
    
    conn.close()
    
    return rows
    
def insert_history_prices(property_id, history_list):
    conn= get_postgresql_connect()
    cur = conn.cursor()
    
    sql = """
        INSERT INTO t_house_history_prices(property_id, price, price_sqft, price_event, price_event_date, sqft)
        VALUES (%s, %s, %s, %s, %s, %s)
        """
    # {'event_name': 'Sold', 'date': '2020-12-10T17:00:00Z', 'price': 490000, 'price_changed': 0, 
    # 'sqft': 1148, 'datasource_name': 'StatenIsland', 'source': 'MLS #1138690'}
    for h in history_list:
        
        price_sqft = 0
        
        if h['sqft'] and h['price'] and h['sqft'] > 0:
            price_sqft = h['price'] / h['sqft']
        
        values = (property_id, h['price'], price_sqft, h['event_name'], h['date'], h['sqft'])

        cur.execute(sql, values)
        
    conn.commit()
    print("Records created successfully")
    conn.close()
#query_houses()

In [10]:
# convert a json string into a Python object using the json.loads() function
def save_to_db(json_str):
    
    all_json = json.loads(json_str)
    house_list = all_json['properties']
    
    insert_houses(house_list)

# save_to_db(json_test)

In [ ]:
rapidapi_key = "yuehao's rapidapi key has been hidden"

# Step 1)

## Invoke list API to get house list and store into the Postgresql

In [11]:
def find_list():
    url = "https://realtor.p.rapidapi.com/properties/v2/list-sold"
    
    targets = [#{"city":"New York City","offset":"0","state_code":"NY","limit":"30","prop_type":"condo","sort":"sold_date"},
              {"city":"New York City","offset":"0","state_code":"NY","limit":"30","prop_type":"single_family","sort":"sold_date"},
              {"city":"New York City","offset":"0","state_code":"NY","limit":"30","prop_type":"multi_family","sort":"sold_date"},
              {"city":"Los Angeles","offset":"0","state_code":"CA","limit":"30","prop_type":"condo","sort":"sold_date"},
              {"city":"Los Angeles","offset":"0","state_code":"CA","limit":"30","prop_type":"single_family","sort":"sold_date"},
              {"city":"Los Angeles","offset":"0","state_code":"CA","limit":"30","prop_type":"multi_family","sort":"sold_date"},
              {"city":"Houston","offset":"0","state_code":"TX","limit":"30","prop_type":"condo","sort":"sold_date"},
              {"city":"Houston","offset":"0","state_code":"TX","limit":"30","prop_type":"single_family","sort":"sold_date"},
              {"city":"Houston","offset":"0","state_code":"TX","limit":"30","prop_type":"multi_family","sort":"sold_date"}]
    
    # querystring = {"city":"New York City","offset":"0","state_code":"NY","limit":"30","prop_type":"condo","sort":"sold_date"}

    headers = {
        'x-rapidapi-key': rapidapi_key,
        'x-rapidapi-host': "realtor.p.rapidapi.com"
        }
    
    for t in targets:
        print(t)
        querystring = t
        
        response = requests.request("GET", url, headers=headers, params=querystring)
        
        json_str = response.text
        
        save_to_db(json_str)
        print('save successful')
    
# find_list()

{'city': 'New York City', 'offset': '0', 'state_code': 'NY', 'limit': '30', 'prop_type': 'single_family', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'New York City', 'offset': '0', 'state_code': 'NY', 'limit': '30', 'prop_type': 'multi_family', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'Los Angeles', 'offset': '0', 'state_code': 'CA', 'limit': '30', 'prop_type': 'condo', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'Los Angeles', 'offset': '0', 'state_code': 'CA', 'limit': '30', 'prop_type': 'single_family', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'Los Angeles', 'offset': '0', 'state_code': 'CA', 'limit': '30', 'prop_type': 'multi_family', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'Houston', 'offset': '0', 'state_code': 'TX', 'limit': '30', 'prop_type': 'condo', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'Houston', 'offset': '0', 'state_code': 'TX', 'limit': '30', 'prop_type': 'single_family', 'sort': 'sold_date'}
Records created successfully
save successful
{'city': 'Houston', 'offset': '0', 'state_code': 'TX', 'limit': '30', 'prop_type': 'multi_family', 'sort': 'sold_date'}
Records created successfully
save successful

In [55]:
# result['properties']

In [56]:
def read_house_detail_json(house_detail_json_str):
    try:
        detail_json = json.loads(house_detail_json_str)
        if detail_json and 'properties' in detail_json:

            p = detail_json['properties']
            if len(p) > 0:
                detail_dic = p[0]
                if 'property_id' in detail_dic and 'property_history' in detail_dic:
                    d_list = detail_dic['property_history']
                    if len(d_list) > 0:
                        insert_history_prices(detail_dic['property_id'], d_list)
    except:
      print("An exception occurred")

In [58]:

    
def find_house_detail(property_id):
    url = "https://realtor.p.rapidapi.com/properties/v2/detail"

    querystring = {"property_id":property_id}

    headers = {
        'x-rapidapi-key': rapidapi_key,
        'x-rapidapi-host': "realtor.p.rapidapi.com"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    return response.text

house_detail_json = find_house_detail("O4684373068")

NameError: name 'rapidapi_key' is not defined

In [47]:
# test
#rows = query_houses()
#print(rows)

# Step 2

## Invoke price history API to get history data, then to store into the Postgresql.

In [54]:
def load_peoperty_detail():
    
    # 1) load db
    rows = query_houses()
    
    # 2) invoke web api
    i = 0
    if len(rows) > 0:
        for row in rows:
            property_id = row[1]
            print("NO. {}, id = {}".format(i, property_id))
            
            time.sleep(3)
        
            detail_json_str = find_house_detail(property_id)
            
            # 3) insert db
            if detail_json_str:
                read_house_detail_json(detail_json_str)
            
            
            i += 1
    
    

load_peoperty_detail()

NO. 0, id = O4684373068
Records created successfully
NO. 1, id = O4972388730
Records created successfully
NO. 2, id = O3944496635
Records created successfully
NO. 3, id = O3296087243
Records created successfully
NO. 4, id = O3484025688
Records created successfully
NO. 5, id = O3645991546
Records created successfully
NO. 6, id = O3075273785
Records created successfully
NO. 7, id = O4763549378
Records created successfully
NO. 8, id = O3341300981
Records created successfully
NO. 9, id = O9064118988
Records created successfully
NO. 10, id = O3498573255
Records created successfully
NO. 11, id = O1342399516
Records created successfully
NO. 12, id = O2738107654
Records created successfully
NO. 13, id = O2017028114
Records created successfully
NO. 14, id = O1414670866
Records created successfully
NO. 15, id = O4770831613
Records created successfully
NO. 16, id = O3285464677
Records created successfully
NO. 17, id = O3770561258
Records created successfully
NO. 18, id = O9325484330
Records created successfully
NO. 19, id = O3911478308
Records created successfully
NO. 20, id = O4785094687
Records created successfully
NO. 21, id = O3284350550
Records created successfully
NO. 22, id = O9220061758
Records created successfully
NO. 23, id = O3481694381
Records created successfully
NO. 24, id = O9398083782
Records created successfully
NO. 25, id = O4020705487
Records created successfully
NO. 26, id = O4860329031
Records created successfully
NO. 27, id = O3432084116
Records created successfully
NO. 28, id = O4505533260
Records created successfully
NO. 29, id = O9645070259
Records created successfully
NO. 30, id = O9173035208
Records created successfully
NO. 31, id = O9349382550
Records created successfully
NO. 32, id = O4214848087
Records created successfully
NO. 33, id = O3700335379
Records created successfully
NO. 34, id = O3889127792
Records created successfully
NO. 35, id = O9773272406
Records created successfully
NO. 36, id = O9162081894
Records created successfully
NO. 37, id = O3323197190
Records created successfully
NO. 38, id = O4373405226
Records created successfully
NO. 39, id = O4067902451
Records created successfully
NO. 40, id = O3222406727
An exception occurred
NO. 41, id = O9847628200
Records created successfully
NO. 42, id = O3523653234
Records created successfully
NO. 43, id = O4760350102
Records created successfully
NO. 44, id = O4240347989
Records created successfully
NO. 45, id = O4948421867
An exception occurred
NO. 46, id = O3066872501
Records created successfully
NO. 47, id = O4345616053
An exception occurred
NO. 48, id = O3583229553
Records created successfully
NO. 49, id = O3386220749
Records created successfully
NO. 50, id = O4397151702
An exception occurred
NO. 51, id = O3483776199
Records created successfully
NO. 52, id = O3262611054
Records created successfully
NO. 53, id = O4637702138
Records created successfully
NO. 54, id = O4696679756
Records created successfully
NO. 55, id = O9986931388
Records created successfully
NO. 56, id = O4517672908
Records created successfully
NO. 57, id = O9096486245
Records created successfully
NO. 58, id = O3333774483
Records created successfully
NO. 59, id = O4943140956
Records created successfully
NO. 60, id = O3339680325
Records created successfully
NO. 61, id = O3069087089
Records created successfully
NO. 62, id = O4519142177
Records created successfully
NO. 63, id = O3358465356
Records created successfully
NO. 64, id = O4674167825
NO. 65, id = O3395030246
Records created successfully
NO. 66, id = O3025436075
NO. 67, id = O3919627564
Records created successfully
NO. 68, id = O4795509036
Records created successfully
NO. 69, id = O4565508010
Records created successfully
NO. 70, id = O4206124708
NO. 71, id = O3677339357
Records created successfully
NO. 72, id = O3304386726
NO. 73, id = O4890226986
Records created successfully
NO. 74, id = O3541966556
Records created successfully
NO. 75, id = O4167324411
Records created successfully
NO. 76, id = O4123746706
Records created successfully
NO. 77, id = O4815960883
Records created successfully
NO. 78, id = O4986970229
Records created successfully
NO. 79, id = O3141943260
Records created successfully
NO. 80, id = O4973874353
Records created successfully
NO. 81, id = O3588163882
An exception occurred
NO. 82, id = O4449714503
Records created successfully
NO. 83, id = O9390450315
Records created successfully
NO. 84, id = O4611925478
Records created successfully
NO. 85, id = O9837311157
Records created successfully
NO. 86, id = O4052838697
Records created successfully
NO. 87, id = O3979391193
Records created successfully
NO. 88, id = O3678879856
Records created successfully
NO. 89, id = O4205806984
Records created successfully
NO. 90, id = O3678646600
Records created successfully
NO. 91, id = O3606815594
Records created successfully
NO. 92, id = O9925630289
Records created successfully
NO. 93, id = O9536506696
Records created successfully
NO. 94, id = O1983985818
Records created successfully
NO. 95, id = O2130660196
Records created successfully
NO. 96, id = O2659554929
Records created successfully
NO. 97, id = O1618764020
Records created successfully
NO. 98, id = O2195316607
Records created successfully
NO. 99, id = O2373047333
Records created successfully
NO. 100, id = O2320440662
Records created successfully
NO. 101, id = O1209255762
Records created successfully
NO. 102, id = O1032600397
Records created successfully
NO. 103, id = O1096880971
Records created successfully
NO. 104, id = O2298600129
Records created successfully
NO. 105, id = O2449246280
Records created successfully
NO. 106, id = O2901328110
Records created successfully
NO. 107, id = O2174206963
Records created successfully
NO. 108, id = O2716638099
Records created successfully
NO. 109, id = O2295357992
Records created successfully
NO. 110, id = O2703708040
Records created successfully
NO. 111, id = O1903950159
Records created successfully
NO. 112, id = O2740442813
Records created successfully
NO. 113, id = O1040189261
Records created successfully
NO. 114, id = O1625345754
Records created successfully
NO. 115, id = O1835407209
Records created successfully
NO. 116, id = O2445652057
Records created successfully
NO. 117, id = O1588114786
Records created successfully
NO. 118, id = O1369376543
Records created successfully
NO. 119, id = O2661182067
Records created successfully
NO. 120, id = O2641784884
Records created successfully
NO. 121, id = O1968312081
Records created successfully
NO. 122, id = O2858357330
Records created successfully
NO. 123, id = O9900796212
Records created successfully
NO. 124, id = O2826350257
Records created successfully
NO. 125, id = O2079628600
Records created successfully
NO. 126, id = O1589667360
Records created successfully
NO. 127, id = O2232006410
Records created successfully
NO. 128, id = O2737683207
Records created successfully
NO. 129, id = O1181161247
Records created successfully
NO. 130, id = O2962280671
Records created successfully
NO. 131, id = O2395640644
Records created successfully
NO. 132, id = O1584208862
Records created successfully
NO. 133, id = O9116889390
Records created successfully
NO. 134, id = O1479533202
Records created successfully
NO. 135, id = O2449699004
Records created successfully
NO. 136, id = O2659107004
Records created successfully
NO. 137, id = O2985429911
Records created successfully
NO. 138, id = O1941250006
Records created successfully
NO. 139, id = O1344367702
Records created successfully
NO. 140, id = O1634632831
Records created successfully
NO. 141, id = O2560352257
Records created successfully
NO. 142, id = O2707280496
Records created successfully
NO. 143, id = O2460248415
Records created successfully
NO. 144, id = O2359663785
Records created successfully
NO. 145, id = O1274643827
Records created successfully
NO. 146, id = O1891748239
Records created successfully
NO. 147, id = O2521622273
Records created successfully
NO. 148, id = O2462555754
Records created successfully
NO. 149, id = O2082434918
Records created successfully
NO. 150, id = O1381458687
Records created successfully
NO. 151, id = O1652159197
Records created successfully
NO. 152, id = O1725178922
Records created successfully
NO. 153, id = O2958978523
Records created successfully
NO. 154, id = O1028836967

Records created successfully
NO. 155, id = O2263450120
Records created successfully
NO. 156, id = O1589582768
Records created successfully
NO. 157, id = O1361458248
Records created successfully
NO. 158, id = O1542303659
Records created successfully
NO. 159, id = O1197045282
Records created successfully
NO. 160, id = O2423790248
Records created successfully
NO. 161, id = O2385973540
Records created successfully
NO. 162, id = O2308368178
Records created successfully
NO. 163, id = O1389945876
Records created successfully
NO. 164, id = O1000007648
Records created successfully
NO. 165, id = O2682055304
Records created successfully
NO. 166, id = O2923438706
Records created successfully
NO. 167, id = O2247767549
Records created successfully
NO. 168, id = O1157137309
Records created successfully
NO. 169, id = O1519498036
Records created successfully
NO. 170, id = O1387209868
Records created successfully
NO. 171, id = O9504223440
Records created successfully
NO. 172, id = O1964960837
Records created successfully
NO. 173, id = O1589639448
Records created successfully
NO. 174, id = O2482612352
Records created successfully
NO. 175, id = O2604567334
Records created successfully
NO. 176, id = O2740260855
Records created successfully
NO. 177, id = O1405415858
Records created successfully
NO. 178, id = O1887775395
Records created successfully
NO. 179, id = O1733968610
Records created successfully
NO. 180, id = O8308395536
An exception occurred
NO. 181, id = O7427547393
Records created successfully
NO. 182, id = O7010530124
Records created successfully
NO. 183, id = O8858949914
Records created successfully
NO. 184, id = O7132202050
Records created successfully
NO. 185, id = O7767556503
Records created successfully
NO. 186, id = O7957252930
Records created successfully
NO. 187, id = O7263244848
Records created successfully
NO. 188, id = O8884308396
Records created successfully
NO. 189, id = O8017085892
Records created successfully
NO. 190, id = O8148122576
Records created successfully
NO. 191, id = O7462081550
Records created successfully
NO. 192, id = O7053497756
Records created successfully
NO. 193, id = O7191694392
Records created successfully
NO. 194, id = O7982082288
Records created successfully
NO. 195, id = O8911745637
Records created successfully
NO. 196, id = O8826599928
Records created successfully
NO. 197, id = O8233049733
Records created successfully
NO. 198, id = O7524471035
Records created successfully
NO. 199, id = O7721392225
Records created successfully
NO. 200, id = O7105099714
Records created successfully
NO. 201, id = O7656473700
Records created successfully
NO. 202, id = O7538172307
Records created successfully
NO. 203, id = O9052943810
Records created successfully
NO. 204, id = O8709855605
Records created successfully
NO. 205, id = O7145550932
Records created successfully
NO. 206, id = O8935019059
Records created successfully
NO. 207, id = O8887062529
An exception occurred
NO. 208, id = O7430454137
Records created successfully
NO. 209, id = O7219875668
Records created successfully
NO. 210, id = O7000420294
Records created successfully
NO. 211, id = O7064201215
Records created successfully
NO. 212, id = O8601251460
Records created successfully
NO. 213, id = O8002663238
Records created successfully
NO. 214, id = O8831543703
Records created successfully
NO. 215, id = O7951953736
Records created successfully
NO. 216, id = O8670481522
Records created successfully
NO. 217, id = O7613362230
Records created successfully
NO. 218, id = O8616716062
Records created successfully
NO. 219, id = O7526439742
Records created successfully
NO. 220, id = O7996562171
Records created successfully
NO. 221, id = O9473133772
Records created successfully
NO. 222, id = O7175715342
Records created successfully
NO. 223, id = O7585691184
Records created successfully
NO. 224, id = O8555303866
Records created successfully
NO. 225, id = O9943320001
Records created successfully
NO. 226, id = O8771144263
Records created successfully
NO. 227, id = O8637236572
Records created successfully
NO. 228, id = O7344024970
Records created successfully
NO. 229, id = O8326696906
Records created successfully
NO. 230, id = O7891001176
Records created successfully
NO. 231, id = O7715292257
Records created successfully
NO. 232, id = O8874853026
Records created successfully
NO. 233, id = O8379733831
Records created successfully
NO. 234, id = O7585904904
Records created successfully
NO. 235, id = O8583322995
Records created successfully
NO. 236, id = O8365611384
Records created successfully
NO. 237, id = O7376224396
An exception occurred
NO. 238, id = O7627788675
Records created successfully
NO. 239, id = O8610224419
Records created successfully
NO. 240, id = O7496425617
Records created successfully
NO. 241, id = O7258687552
Records created successfully
NO. 242, id = O8643875565
Records created successfully
NO. 243, id = O8514660021
An exception occurred
NO. 244, id = O8291573160
Records created successfully
NO. 245, id = O7839687899
Records created successfully
NO. 246, id = O8104334175
Records created successfully
NO. 247, id = O7718771288
Records created successfully
NO. 248, id = O8719173068
Records created successfully
NO. 249, id = O7111878967
Records created successfully
NO. 250, id = O7759329015
Records created successfully
NO. 251, id = O8183196645
Records created successfully
NO. 252, id = O8207325868
Records created successfully
NO. 253, id = O7883944859
Records created successfully
NO. 254, id = O8115940331
Records created successfully
NO. 255, id = O8852843039
Records created successfully
NO. 256, id = O7438964621
Records created successfully
NO. 257, id = O7177349848
Records created successfully
NO. 258, id = O7468172956
Records created successfully
NO. 259, id = O8357971223
An exception occurred
NO. 260, id = O7259658240
Records created successfully
NO. 261, id = O7737866582
Records created successfully
NO. 262, id = O7218187328
Records created successfully
NO. 263, id = O8280879392
Records created successfully
NO. 264, id = O7303978603
Records created successfully
NO. 265, id = O7346858404
Records created successfully
NO. 266, id = O8971704613
Records created successfully
NO. 267, id = O8553043942
Records created successfully
NO. 268, id = O7728685681
Records created successfully
NO. 269, id = O8722042546
Records created successfully

In [59]:
#print(detail_json['properties'])
#print(type(detail_json['properties']))

# Step 3

## Save as CSV file and upload to Github

In [61]:
# connect postgresql
def get_postgresql_connect():
    conn = psycopg2.connect(host="127.0.0.1",user="postgres",password="123456",database="aim_new_final")
    return conn

# query average price of three counties.
def query_house_avg():
    
    conn= get_postgresql_connect()
    cur = conn.cursor()
    sql = " select * from v_house_avg "
    cur.execute(sql)
    
    rows = cur.fetchall()
        
    conn.close()
    
    return rows

house_avg_tuples = query_house_avg()

In [62]:
# rename the dataframe
house_avg_columns = ["property_id", "county", "state", "prop_type", "2020_avg", "2019_avg", 
                                                    "2020_01_avg", "2020_02_avg", "2020_03_avg", "2020_04_avg", "2020_05_avg", 
                                                    "2020_06_avg", "2020_07_avg", "2020_08_avg", "2020_09_avg", 
                                                    "2020_10_avg", "2020_11_avg", "2020_12_avg"]

house_avg_df = pd.DataFrame(house_avg_tuples, columns = house_avg_columns) 
  
house_avg_df.head(3)

,property_id,county,state,prop_type,2020_avg,2019_avg,2020_01_avg,2020_02_avg,2020_03_avg,2020_04_avg,2020_05_avg,2020_06_avg,2020_07_avg,2020_08_avg,2020_09_avg,2020_10_avg,2020_11_avg,2020_12_avg
0,O1000007648,Los Angeles,California,multi_family,376.38,95.34,376.38,376.38,376.38,376.38,376.38,376.38,376.38,376.38,376.38,376.38,378.63,378.63
1,O1028836967,Los Angeles,California,single_family,718.43,51.85,718.43,718.43,718.43,718.43,718.43,718.43,718.43,718.43,718.43,718.43,722.56,722.56
2,O1032600397,Los Angeles,California,condo,622.91,530.76,622.91,622.91,622.91,622.91,622.91,622.91,622.91,622.91,622.91,622.91,613.34,613.34

In [63]:
# write into csv
house_avg_df.to_csv('./data/final_house_3cities.csv', index=True)